<div>
  <form [formGroup]="patientHistoryForm" (ngSubmit)="onSubmit()">
    <h1 mat-dialog-title>Patient Visit <span *ngIf="patientHistoryData != null">- {{patientHistoryData.dateOfVisit | date: 'fullDate'}}</span></h1>
    <div mat-dialog-content fxLayout="row">
      <div>
        <mat-form-field  class="form-inline-padding small-field">
          <mat-label>Age</mat-label>
          <input matInput id="age" type="number" formControlName="age"/>
        </mat-form-field>
        <div formGroupName="vitalSigns" class="inline">
          <mat-form-field class="small-field">
            <mat-label>Blood Pressure</mat-label>
            <input matInput id="bloodPressure" type="text" formControlName="bloodPressure" />
          </mat-form-field>
          <mat-form-field class="small-field">
            <mat-label>Pulse Rate</mat-label>
            <input matInput id="pulseRate" type="text" formControlName="pulseRate" />
          </mat-form-field>
          <mat-form-field class="small-field">
            <mat-label>Respiration Rate</mat-label>
            <input matInput id="respirationRate" type="text" formControlName="respirationRate" />
          </mat-form-field>
          <mat-form-field class="small-field">
            <mat-label>Temperature</mat-label>
            <input matInput id="temperature" type="text" formControlName="temperature" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="wide-field">
            <mat-label>Diagnosis</mat-label>
            <textarea matInput id="diagnosis" formControlName="diagnosis"
                      cdkTextareaAutosize
                      cdkAutosizeMaxRows="6"
                      cdkAutosizeMinRows="2"></textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="wide-field">
            <mat-label>Symptoms</mat-label>
            <textarea matInput id="symptoms" formControlName="symptoms"
                      cdkTextareaAutosize
                      cdkAutosizeMaxRows="6"
                      cdkAutosizeMinRows="2"></textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="wide-field">
            <mat-label>Lab Results</mat-label>
            <textarea matInput id="labResults" formControlName="labResults"
                      cdkTextareaAutosize
                      cdkAutosizeMaxRows="6"
                      cdkAutosizeMinRows="2"></textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="wide-field">
            <mat-label>Treatment Plan</mat-label>
            <textarea matInput id="treatmentPlan" formControlName="treatmentPlan"
                      cdkTextareaAutosize
                      cdkAutosizeMaxRows="6"
                      cdkAutosizeMinRows="2"></textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="wide-field">
            <mat-label>Remarks</mat-label>
            <textarea matInput id="remarks" formControlName="remarks"
                      cdkTextareaAutosize
                      cdkAutosizeMaxRows="6"
                      cdkAutosizeMinRows="2"></textarea>
          </mat-form-field>
        </div>
        <div>
          <ngx-file-drag-drop
            [formControl]="fileControl"
            activeBorderColor="#3F51B5"
            multiple
            (valueChanged)="onValueChange($event)">
          </ngx-file-drag-drop>
        </div>
      </div>
    </div>
    <div mat-dialog-actions align="end">
      <button color="primary" mat-raised-button type="submit">Save</button>
      <button mat-raised-button [mat-dialog-close] type="button">Close</button>
    </div>
  </form>
</div>
