<div class="inline">
  <h1 style="padding-right: 15px;">Patient History {{patientHistoryCollection.length}} visit(s)</h1>
  <button mat-raised-button color="primary">Add Patient Visit</button>
</div>
<mat-card [class.mat-elevation-z8]="true" *ngFor="let patientHistory of patientHistoryCollection">
  <mat-card-header>
    <mat-card-title>{{patientHistory.diagnosis}}</mat-card-title>
    <mat-card-subtitle>{{patientHistory.dateOfVisit | date: 'full'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button>Edit</button>
  </mat-card-actions>
</mat-card>
