<div>
  <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
    <h1 mat-dialog-title>Patient Information</h1>
    <div class="bar error" *ngIf="patientForm.errors && (patientForm.touched || patientForm.dirty)">
      <div *ngIf="patientForm.errors?.forbiddenDay">
        <span *ngIf="patientForm.errors?.forbiddenDay.value != null">
          Birth Day is invalid - {{patientForm.errors?.forbiddenDay.value}} is not a valid day
        </span>
      </div>
      <div *ngIf="patientForm.errors?.forbiddenMonth">
        <span *ngIf="patientForm.errors?.forbiddenMonth.value != null">
          Birth Month is invalid - {{patientForm.errors?.forbiddenMonth.value}} is not a valid month
        </span>
      </div>
      <div *ngIf="patientForm.errors?.forbiddenYear">
        <span *ngIf="patientForm.errors?.forbiddenYear.value != null">
          Birth Year is invalid - {{patientForm.errors?.forbiddenYear.value}} is not a valid eyar
        </span>
      </div>
   </div>
    <div mat-dialog-content fxLayout="row">
      <div>
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput id="firstName" type="text" formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Middle name</mat-label>
          <input matInput id="middleName" type="text" formControlName="middleName">
        </mat-form-field>
        <mat-form-field  class="form-inline-padding">
          <mat-label>Last name</mat-label>
          <input matInput id="lastName" type="text" formControlName="lastName">
        </mat-form-field>

        <mat-form-field  class="small-field">
          <mat-label>Birth Month</mat-label>
          <input matInput id="birthMonth" type="number" formControlName="birthMonth">
        </mat-form-field>

        <mat-form-field  class="small-field">
          <mat-label>Birth Day</mat-label>
          <input matInput id="birthDay" type="number" formControlName="birthDay">
        </mat-form-field>

        <mat-form-field  class="small-field form-inline-padding">
          <mat-label>Birth Year</mat-label>
          <input matInput id="birthYear" type="number" formControlName="birthYear">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field  class="wide-field form-inline-padding">
          <mat-label for="address">Address</mat-label>
          <input matInput id="address" type="text" formControlName="address">
        </mat-form-field>

        <mat-form-field  class="medium-width form-inline-padding">
          <mat-label>Civil Status</mat-label>
          <mat-select formControlName="civilStatus">
            <mat-option *ngFor="let civilStatus of civilStatusNames" [value]="civilStatus">{{civilStatus}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field  class="medium-width">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option *ngFor="let gender of genderNames" [value]="gender">{{gender}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <app-patient-history [patientHistoryCollection]="patientHistoryCollection"></app-patient-history>
    </div>
    <div mat-dialog-actions align="end">
      <button color="primary" mat-raised-button type="submit">Save</button>
      <button mat-raised-button [mat-dialog-close] type="button">Close</button>
    </div>
  </form>
</div>
